$color-text-header-fork: #8d81ac;
$bg-color-header: #27262a;
$bg-color-mod-menu: #333333;
$color-text-section-fork: #848e97;

$ff-family: "Montserrat";
$ff-lato: "Lato";

$bp-min-tablet: 481px;
$bp-max-tablet: 992.5px;

$bp-min-desc: 993px;
